/* --- CSS Resets --- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}

@font-face {
  font-family: 'Tellural';
  src: url('../fonts/tellural-webfont.eot');
  src: url('../fonts/tellural-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/tellural-webfont.woff') format('woff'),
       url('../fonts/tellural-webfont.ttf') format('truetype'),
       url('../fonts/tellural-webfont.svg#Tellural') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Tellural';
  src: url('../fonts/tellural-bold-webfont.eot');
  src: url('../fonts/tellural-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/tellural-bold-webfont.woff') format('woff'),
       url('../fonts/tellural-bold-webfont.ttf') format('truetype'),
       url('../fonts/tellural-bold-webfont.svg#Tellural') format('svg');
  font-weight: bold;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  font-family: 'Quando', Georgia, serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5em;
  letter-spacing: 0.01em;
}
h3 {
  line-height: 1.5em;
}
p, main ul, main ol {
  font-family: 'Merriweather';
  font-size: 1.25em;
  line-height: 1.8em;
  color: #828b99;
}
h1 + p, h2 + p, h3 + p, h4 + p, p + p, ul + p, ol + p, p + ul, h3 + blockquote {
  margin-top: 1em;
}
a {
  color: #505c72; /* theme color */
}
a:hover,
a:focus {
  color: #112649; /* theme color dark */
  text-decoration: none;
}
p a, main ul a, main ol a {
  font-weight: bold;
  border-bottom: 2px solid rgba(80, 92, 114, 0.25); /* theme color transparent */;
}
blockquote {
  display: inline-block;
  margin-bottom: 20px;
}
blockquote p {
  line-height: 1.6em;
}
hr {
  border-top: 2px solid #dfe5f0; /* theme color even lighter */
  margin-top: 60px;
  margin-bottom: 60px;
}
img {
  max-width: 100%;
}
figure {
  display: block;
  text-align: center;
}
figure img {
  width: auto;
  margin: 20px auto;
}



/* --- utilities --- */
.u-ml5 { margin-left: 5px; }
.u-ml10 { margin-left: 10px; }
.u-ml20 { margin-left: 20px; }
.u-ml40 { margin-left: 40px; }
.u-ml60 { margin-left: 60px; }
.u-ml80 { margin-left: 80px; }
.u-ml120 { margin-left: 120px; }
.u-ml160 { margin-left: 160px; }

.u-mr5 { margin-right: 5px; }
.u-mr10 { margin-right: 10px; }
.u-mr20 { margin-right: 20px; }
.u-mr40 { margin-right: 40px; }
.u-mr60 { margin-right: 60px; }
.u-mr80 { margin-right: 80px; }
.u-mr120 { margin-right: 120px; }
.u-mr160 { margin-right: 160px; }

.u-mt5 { margin-top: 5px; }
.u-mt10 { margin-top: 10px; }
.u-mt20 { margin-top: 20px; }
.u-mt40 { margin-top: 40px; }
.u-mt60 { margin-top: 60px; }
.u-mt80 { margin-top: 80px; }
.u-mt120 { margin-top: 120px; }
.u-mt160 { margin-top: 160px; }

.u-mb5 { margin-bottom: 5px; }
.u-mb10 { margin-bottom: 10px; }
.u-mb20 { margin-bottom: 20px; }
.u-mb40 { margin-bottom: 40px; }
.u-mb60 { margin-bottom: 60px; }
.u-mb80 { margin-bottom: 80px; }
.u-mb120 { margin-bottom: 120px; }
.u-mb160 { margin-bottom: 160px; }

.u-mv5 { margin-top: 5px; margin-bottom: 5px; }
.u-mv10 { margin-top: 10px; margin-bottom: 10px; }
.u-mv20 { margin-top: 20px; margin-bottom: 20px; }
.u-mv40 { margin-top: 40px; margin-bottom: 40px; }
.u-mv60 { margin-top: 60px; margin-bottom: 60px; }
.u-mv80 { margin-top: 80px; margin-bottom: 80px; }
.u-mv120 { margin-top: 120px; margin-bottom: 120px; }
.u-mv160 { margin-top: 160px; margin-bottom: 160px; }

.u-ma5 { margin: 5px; }
.u-ma10 { margin: 10px; }
.u-ma20 { margin: 20px; }
.u-ma40 { margin: 40px; }
.u-ma60 { margin: 60px; }
.u-ma80 { margin: 80px; }
.u-ma120 { margin: 120px; }
.u-ma160 { margin: 160px; }

.u-pv5 { padding-top: 5px; padding-bottom: 5px; }
.u-pv10 { padding-top: 10px; padding-bottom: 10px; }
.u-pv20 { padding-top: 20px; padding-bottom: 20px; }
.u-pv30 { padding-top: 30px; padding-bottom: 30px; }
.u-pv40 { padding-top: 40px; padding-bottom: 40px; }
.u-pv60 { padding-top: 60px; padding-bottom: 60px; }
.u-pv80 { padding-top: 80px; padding-bottom: 80px; }
.u-pv120 { padding-top: 120px; padding-bottom: 120px; }
.u-pv160 { padding-top: 160px; padding-bottom: 160px; }

.u-pa5 { padding: 5px; }
.u-pa10 { padding: 10px; }
.u-pa20 { padding: 20px; }
.u-pa40 { padding: 40px; }
.u-pa60 { padding: 60px; }
.u-pa80 { padding: 80px; }
.u-pa120 { padding: 120px; }
.u-pa160 { padding: 160px; }

.u-block {
  display: block;
}
.u-inlineblock {
  display: inline-block;
}
.u-alignleft { text-align: left; }
.u-aligncenter { text-align: center; }
.u-alignright { text-align: right; }
.u-floatleft { display: inline-block; float: left; }
.u-floatright { display: inline-block; float: right; }

.u-relative {
  position: relative;
}



/* --- layout (extends bs) --- */
.row {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.row-full {
  max-width: 100vw;
}
.row-nopadding > [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.slide {
  position: relative;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #b1967e; /* theme color gold dark */
}
/*.spacer {
  min-height: 65vh;
}*/
.block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /*min-height: 35vh;*/
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 1));
  z-index: 2;
}
.block:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 120px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7));
}
.slide-modest {
  min-height: 250px;
}
.slide-modest .block {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
.slide-modest .block:before {
  display: none;
}
.slide-modest .block-to-themelightest {
  background: linear-gradient(rgba(221, 226, 237, 0), rgba(221, 226, 237, 1));
}
/*.block:before,
.block:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50vw solid rgba(0, 0, 0, 0);
  border-right: 50vw solid #fff;
  border-top: 4vw solid rgba(0, 0, 0, 0);
  border-bottom: 4vw solid #fff;
  -webkit-transform: scale(.9999);
  -moz-transform: scale(.9999);
  transform: scale(.9999);
}
.block:after {
  bottom: auto; 
  top: 100%;
  border-left: 50vw solid rgba(0, 0, 0, 0);
  border-right: 50vw solid #fff;
  border-top: 2vw solid #fff;
  border-bottom: 2vw solid rgba(0, 0, 0, 0);
}*/
main {
  position: relative;
  z-index: 2;
  /*min-height: 100vh;*/
  background-color: #fff;
}



/* --- buttons (extends bs) --- */
.btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-family: Tellural;
  letter-spacing: -0.02em;
  -webkit-font-smoothing: antialiased;
  font-kerning: normal;
  text-transform: lowercase;
}
.btn-primary {
  background-color: #505c72; /* theme color */
  border: none;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #112649; /* theme color dark */
  outline: none;
}
.btn-secondary {
  border: 1px solid #505c72; /* theme color */
  background-color: none;
  color: #505c72; /* theme color */
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #505c72; /* theme color */
  color: #fff;
}
.btn-tertiary {
  border: 1px solid #dbb78c; /* theme color gold */
  color: #dbb78c; /* theme color gold */
}
.btn-tertiary:hover,
.btn-tertiary:focus {
  background-color: #dbb78c; /* theme color gold */
  color: #fff;
  outline: none;
}
.btn-lg {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
.btn-sm {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}



/* --- forms --- */
textarea {
  resize: none;
}
.uniform__potty {
  position: absolute;
  left: -9999px;
}
form label {
  font-family: Tellural;
  font-size: 1.25em;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  color: #b1967e;
}
form .form-control {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
form input.form-control {
  height: 44px;
}
form .form-control:focus {
  background-color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #fff;
}
form .message {
  background-color: #505c72;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.75);
}
form .message.success {
  background-color: rgba(0, 0, 0, 0.25);
}
form .message p {
  font-family: Tellural;
  font-weight: normal;
  color: inherit;
}
form .message.success p {
  color: #fff;
}
form .message ul {
  font-family: Tellural;
  margin-left: 60px;
  color: #fff;
}



/* --- icons (extends ionicons) --- */
.ion-after:before {
  float: right;
  margin-left: 0.5em;
  line-height: 1.3em;
}
.ion-15x { font-size: 1.5em; line-height: 1em; }
.ion-2x { font-size: 2em; }
.ion-3x { font-size: 3em; }
.ion-4x { font-size: 4em; }
.ion-5x { font-size: 5em; line-height: 1.2em; }
.ion-fw { display: inline-block; width: 1.2em; text-align: center; }



/* --- navigation --- */
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 20px;
  font-family: Tellural;
  letter-spacing: -0.02em;
  font-weight: bold;
  font-size: 1.3em;
  z-index: 10;
  /* appear animation */
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  transform: translateX(-50px);
  opacity: 0;
}
.isLoaded nav {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
nav li {
  list-style: none;
}
nav a {
  display: block;
  padding: 10px 0;
}
nav #menu-secondary {
  position: absolute;
  bottom: 20px;
  /*opacity: 0.5;
  text-shadow: 0 0 2px #dde2ed;*/
  /* #dde2ed; theme color lightest */
  /* #d1d6e0; theme color lighter */
}
nav #menu-secondary a {
  color: #aeb3bc;
}
nav #menu-secondary a:hover {
  color: #505c72;
}
nav a.isActive,
nav #menu-secondary a.isActive {
  color: #b1967e; /* theme color gold dark */
}
nav #navtoggle {
  position: absolute;
  left: 200px;
  top: 0;
  z-index: 11;
  padding: 20px;
  display: none;
}
nav #navtoggle .ion-android-close {
  display: none;
}
nav.isExpanded #mask {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  width: 0;
  height: 100vh;
  background-color: rgba(80, 92, 114, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
}
nav.isExpanded #mask {
  width: 100vw;
  opacity: 1;
}




/* --- floating logo --- */
#logo a {
  display: block;
  padding-bottom: 20px;
}
#logo img {
  max-width: 80px;
  max-height: 80px;
}



/* --- footer --- */
footer {
  background-color: #505c72; /* theme color */
  color: rgba(255, 255, 255, 0.75);
}
footer.tuckedUnder {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
footer p {
  color: rgba(255, 255, 255, 0.5);
}
footer a {
  color: rgba(255, 255, 255, 0.7);
}
footer a:hover,
footer a:focus {
  color: rgba(255, 255, 255, 1);
}
footer .colophon {
  display: block;
  background-color: rgba(0, 0, 0, 0.15); 
  color: rgba(255, 255, 255, 0.3);
}
footer .colophon:hover,
footer .colophon:focus {
  background-color: rgba(0, 0, 0, 0.25); 
  color: rgba(255, 255, 255, 0.5);
}




/* --- page-specific styling --- */
.hero-logo {
  position: relative;
  z-index: 3;
}
#contact-form {
  background-color: #dbb78c; /* theme color gold */
}
body.home #contact-form h3 {
  color: #fff;
}
body.home #updates h4.title {
  opacity: 0.4;
}
body.default #contact-form:after {
  display: none;
}



/* --- updates section --- */
#updates {
  background-color: #dde2ed; /* theme color lightest */
}
#updates .update {
  border-bottom: 1px solid #d1d6e0; /* theme color lighter */
}
#updates h4 {
  margin-top: 0;
  font-family: Tellural;
  font-weight: bold;
  color: #112649; /* theme color dark */
}
#updates .ion {
  margin-top: -5px;
  /*opacity: 0.5;*/
  color: #b1967e;
}
#updates p {
  color: #505c72; /* theme color */
}
#updates small {
  color: #aeb3bc; /* theme color light */
}



/* --- default page --- */
.content {
  min-height: 50vh;
}
.next {
  display: block;
  background-color: #d1d6e0; /* theme color lighter */
}
.next:hover,
.next:focus {
  background-color: #aeb3bc;  /* theme color light */
}
.next h3 {
  text-transform: lowercase;
  font-family: Tellural;
  margin-top: 0;
}
.question {
  display: inline-block;
  color: #b1967e; /* theme color gold dark */
  line-height: 1.5em;
}
.answer {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
  line-height: 1.7em;
}




/* --- responsive adjustments --- */
@media screen and (max-width: 767px) {
  .u-sm-aligncenter {
    text-align: center;
  }
  .u-sm-alignleft {
    text-align: left;
  }
  .u-sm-hide {
    display: none;
  }
  nav {
    left: -200px;
    width: 200px;
    background-color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  }
  nav.isExpanded {
    left: 0;
  }
  nav #navtoggle {
    display: block;
  }
  nav.isExpanded #navtoggle .ion-android-close {
    display: block;
    color: #fff;
  }
  nav.isExpanded #navtoggle .ion-navicon {
    display: none;
  }
}